* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #DDE4E7;
  color: white;
}
.card{
  background-color: #37474F;
}
.inputText{
  width: 100%;
  padding: 5px 10px;
}
.heading {
  text-align: center;
  padding: 10px;
  color: #37474F;
}
